/* .footerText, .headerText{
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #f1c40f;
    padding: 6px 60px;
    border-radius: 7px;
}
.headerContainer, .footerContainer{
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 7px;
}
.headerContainer{
    background-color: #f1c40f;
}
.footerText{
    font-size: 20px;
}

.buttonStart{
    font-size: 16px;
    font-weight: bold;
    background: #2980b9;
    color: #FFF;
    margin-left: 290px;
    margin-right: 290px;
}

.percentage{
    font-size: 16px;
    margin-bottom: 4px;
} */
.contenedorBufferLector1{
    margin-top: 0px;
}
.contenedorBufferEscritor1,
.contenedorBufferEscritor2,
.contenedorBufferLector2{
    margin-top: -30px; 
}

.contenedorBuffer > .progressBar > trough, .currentProgressBar > trough{
    background-color: rgba(10, 200, 10, 0);  /* Transparente */
}

/* Color de llenado de los ESCRITORES/PRODUCTORES */
.contenedorBufferEscritor1 > .progressBar > trough > progress,
.contenedorBufferEscritor2 > .progressBar > trough > progress{
    background-color: #27ae60;
}
/* Color de llenado de los LECTORES/CONSUMIDORES */
.contenedorBufferLector1 > .progressBar > trough > progress,
.contenedorBufferLector2 > .progressBar > trough > progress{
    background-color: #111214; /* NARANJA: #CE5C00 */
}

.progressBar{
    margin-right: 0px;
    /* width: 50; */
}

.progressBar > trough, .currentProgressBar > trough {
    margin-bottom: 5px;
    padding-top: 12px;
    padding-bottom: 9px;
    background-color: #111214;
}
.progressBar > trough > progress, .currentProgressBar > trough > progress{
    background-image: none;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-radius: 2px 4px 4px 2px; */
}

.pid {
    font-weight: 800;
    color: #27ae60;
    padding: 4px;
}